@import '../common.scss';

.head_main{
  position: relative;
  height: 259px;
  background: url('../../assets/screenshot.png') no-repeat;
  background-size: 100% 100%;
  .head_content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    p {
      font-size: 14px;
      color: gray;
    }
  }
}
.form_main {
  margin: auto 12px;
  margin-top: 14px;
  .form-margin {
    margin-bottom: 20px;
  }
  .forgot_password{
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
  }
  .login-button {
    @include button-normal;
    margin-top: 30px;
  }
  .disable-button {
    background: rgba(128, 128, 128, 0.5) !important;
  }
}