@mixin button-normal {
    background: #808080;
    border-radius: 15px;
    color: #EEEEEE;
    width: 246px;
    height: 45px;
    border: none;
    display: block;
    margin: 0 auto;
    font: {
        size: 18px;
        weight: 400;
    };
}