@mixin button-normal {
    background: #808080;
    border-radius: 15px;
    color: #EEEEEE;
    width: 246px;
    height: 45px;
    border: none;
    display: block;
    margin: 0 auto;
    font: {
        size: 18px;
        weight: 400;
    };
}

.bg-position{
    position: absolute;
    top: 2px;
    left: -90px;
    width: 189px;
    height: 174px;
    border-radius: 100%;
    background: radial-gradient(rgba(185, 218, 251, 0.5) 0%, transparent 70%) no-repeat;
    z-index: -1;
}