.swiperBody {
    padding-bottom: 30px;
    .waterfallsFlow {
        height: 419px;
        width: 100vw;
        position: relative;
        img {
            position: absolute;
            width: calc((100vw - 5vw) / 3);
        }
    }
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: rgba(37, 19, 26, 1);
        margin-top: 46px;
        margin-left: 12px;
        margin-right: 12px;
        padding: 0px 40px;
        text-align: center;
        line-height: auto;
    }
    .content-main{
        margin: 0 29px;
        margin-top: 14px;
        p {
            font-size: 14px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
            font-weight: lighter;
            line-height: 1.5;
        }
    }
}
.normal_button{
    display: block;
    border: none;
    width: 246px;
    height: 45px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 18px;
}
.nextButton{
    background: rgba(128, 128, 128, 0.5);
    color: rgba(238, 238, 238, 1);
}
.button_active{
    background: rgba(128, 128, 128, 1);
    color: rgba(238, 238, 238, 1);
}

.swiper-pagination-customer-bullet{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 4px;
    border-radius: 100%;
    background: #8B868833;
}
.swiper-pagination-customer-bullet-active{
    background: #808080;
    height: 4px;
    width: 28px;
    border-radius: 10px;
}