.swiperBody {
    .waterfallsFlow {
        display: flex;
        flex-flow: column wrap;
        height: 419px;
        // &::before, &::after {
        //     content: "";
        //     flex-basis: 100%;
        //     width: 0;
        //     order: 2;
        // }
        img {
            width: 138px;
            &:nth-child(3n+1) {
                order: 1;
            }
            &:nth-child(3n+2) {
                order: 2;
            }
            &:nth-child(3n) {
                order: 3
            }
        }
    }
}