.swiperBody {
    .waterfallsFlow {
        height: 419px;
        width: 100vw;
        position: relative;
        img {
            position: absolute;
            width: calc((100vw - 5vw) / 3);
        }
    }
}